/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

.hero-headline h1 {
    font-size: 58px;
    line-height: 1.6;
    font-weight: 700;
    text-transform: none;
    color: #111;
    letter-spacing: -2px;
    word-spacing: 5px;
    margin-bottom: 0;
}

.hero-headline > span {
    display: block;
    font-family: 'Merriweather';
    font-weight: 400;
    font-size: 15px;
    line-height: 2;
    color: #999;
    margin-top: 40px;
    max-width: 80%;
}

.orange { color: #F6612A; }
