<div class="style-msg infomsg">
    <div class="sb-msg">
        This article is the {{ number }} in a <a href="/blog/categories/spreadsheets/">multi-part series</a> explaining how spreadsheets can start to become a liability as your company grows and how investing in bespoke systems can alleviate these issues, as well as bringing additional benefits.
    </div>
</div>
