<div class="style-msg successmsg">
    <div class="sb-msg"><i class="icon-mail"></i><strong>Sound interesting?</strong>&nbsp;<a
                href="mailto:hello@littlerobot.io">Get in touch</a> for a no obligation chat. I'll even pay for the
        coffee!
    </div>
</div>
