<!DOCTYPE html>
<html dir="ltr" lang="en-GB">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="author" content="little robot Limited"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/css3-mediaqueries/0.1/css3-mediaqueries.min.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/favicons/manifest.json">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#f55f2c">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {% block stylesheets %}
        <!-- Stylesheets
        ============================================= -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic|Merriweather"
              rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
        <link rel="stylesheet" href="/css/style.css" type="text/css"/>

        <!-- Agency Demo Specific Stylesheet -->
        <link rel="stylesheet" href="/css/agency.css" type="text/css"/>
        <!-- / -->
        <link rel="stylesheet" href="/css/font-icons.css" type="text/css"/>
        <link rel="stylesheet" href="/css/animate.css" type="text/css"/>
        <link rel="stylesheet" href="/css/responsive.css" type="text/css"/>
        <link rel="stylesheet" href="/css/colors.css" type="text/css"/>
        <link rel="stylesheet" href="/css/custom.css" type="text/css"/>
    {% endblock %}

    <!-- Document Title
    ============================================= -->
    <title>
        {% block title %}
            {% if page.title %}{{ page.title }} &mdash;{% endif %}
        {% endblock %}
        {{ site.title }}
    </title>

</head>

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    <!-- Header
    ============================================= -->
    <header id="header" class="sticky-style-2">

        <div class="container clearfix">

            <!-- Logo
            ============================================= -->
            <div id="logo" class="divcenter">
                <a href="/" class="standard-logo">
                    <img class="divcenter" src="/images/logo.png" alt="little robot logo">
                </a>
                <a href="/" class="retina-logo">
                    <img class="divcenter" src="/images/logo@2x.png" alt="little robot logo">
                </a>
            </div><!-- #logo end -->

        </div>

        <div id="header-wrap">

            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu" class="style-2 center">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <ul>
                        <li class="{% if page.nav_name == 'home' %}current{% endif %}">
                            <a href="/">
                                <div>Home</div>
                            </a>
                        </li>
                        <li class="{% if page.nav_name == 'for-businesses' %}current{% endif %}">
                            <a href="/for-businesses/">
                                <div>For businesses</div>
                            </a>
                        </li>
                        <li class="{% if page.nav_name == 'for-teams' %}current{% endif %}">
                            <a href="/for-teams/">
                                <div>For teams</div>
                            </a>
                        </li>
                        <li class="{% if page.nav_name == 'projects' %}current{% endif %}">
                            <a href="/projects/">
                                <div>Projects</div>
                            </a>
                        </li>
                        <li class="{% if page.nav_name == 'blog' or page.url starts with '/blog/' %}current{% endif %}">
                            <a href="/blog/">
                                <div>Blog</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav><!-- #primary-menu end -->
        </div>

    </header><!-- #header end -->


    <!-- Content
    ============================================= -->
    <section id="content">
        <div class="content-wrap">
            {% block content_wrapper %}
                {% block page_title %}{% endblock %}
                {% block content %}{% endblock %}
            {% endblock %}
        </div>
    </section><!-- #content end -->

    <!-- Footer
    ============================================= -->
    <footer id="footer">

        <!-- Copyrights
        ============================================= -->
        <div id="copyrights">
            <div class="container clearfix">
                <div class="col_half">
                    Copyright &copy; {{ null|date('Y') }} little robot Limited<br>
                    Registered in England and Wales with company number 08923395<br>
                </div>

                <div class="col_half col_last tright">
                    <div class="fright clearfix">
                        <a href="https://www.facebook.com/littlerobotlimited"
                           class="social-icon si-small si-light si-rounded si-facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>

                        <a href="https://github.com/littlerobot"
                           class="social-icon si-small si-light si-rounded si-github">
                            <i class="icon-github"></i>
                            <i class="icon-github"></i>
                        </a>

                        <a href="https://www.linkedin.com/company/little-robot"
                           class="social-icon si-small si-light si-rounded si-linkedin">
                            <i class="icon-linkedin"></i>
                            <i class="icon-linkedin"></i>
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div><!-- #copyrights end -->
    </footer><!-- #footer end -->
</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
============================================= -->
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/plugins.js"></script>

<!-- Footer Scripts
============================================= -->
{% block javascripts %}
    <script type="text/javascript" src="/js/functions.js"></script>
    <!-- start Mixpanel -->
    <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
    for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
    mixpanel.init("795448d1ccf119aa81d12e11c91bec16");

    mixpanel.track("Page view");
</script>
    <!-- end Mixpanel -->
{% endblock %}
</body>
</html>
