---
layout: default
draft: false
title: For teams
nav_name: for-teams
---

<div class="container clearfix">
    <div class="fancy-title title-double-border">
        <h2>How I've previously helped development teams</h2>
    </div>
    <div class="col_one_third nobottommargin">
        <div class="feature-box media-box">
            <div class="fbox-media">
                <img src="http://placehold.it/400x250" alt="Why choose Us?">
            </div>
            <div class="fbox-desc">
                <h3>Consistent development environment<span class="subtitle">Quicker onboarding and fewer bugs</span></h3>
                <p>Developers take too long to set up their machines when they start a new project (hours or days) and differences between software versions increases the chance of incompatibilities and bugs when code is deployed.</p>
                <p>Consistent development environments, using Virtualbox and Docker, remove these problems and ensure everyone is developing against the same software.</p>
            </div>
        </div>
    </div>
    <div class="col_one_third nobottommargin">
        <div class="feature-box media-box">
            <div class="fbox-media">
                <img src="http://placehold.it/400x250" alt="Why choose Us?">
            </div>
            <div class="fbox-desc">
                <h3>Easy, safe deployments<span class="subtitle">Release often, and without fear</span></h3>
                <p>A manual deployment process makes it easy for someone to accidentally do something in the wrong order or in a subtly incorrect way.</p>
                <p>Automated deployments remove the potential for mistakes &mdash; each deployment runs exactly as it should. Continuous Integration allows non-developers to deploy code to agreed environments and allows a focus on the test suite.</p>
            </div>
        </div>
    </div>
    <div class="col_one_third nobottommargin col_last">
        <div class="feature-box media-box">
            <div class="fbox-media">
                <img src="http://placehold.it/400x250" alt="Why choose Us?">
            </div>
            <div class="fbox-desc">
                <h3>Code reviews<span class="subtitle">Pick up bugs quickly and increase team knowledge</span></h3>
                <p>Code reviews are great opportunity for sharing knowledge between developers to avoid someone becoming the expert in a particular and nobody else having the knowledge to cover in an emergency. They also provide an checkpoint to sanity check new code to pick up bugs or potential future issues.</p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container clearfix">
        <div class="heading-block center">
            <h2>How I can help you</h2>
            <span>I have experience with these processes in commercial environments</span>
        </div>
        <div class="col_one_third nobottommargin">
            <div class="feature-box fbox-plain">
                <ul class="iconlist">
                    <li><i class="icon-line-arrow-right"></i>Multi-developer development processes &mdash; E.g. GitFlow and GitHub Flow</li>
                    <li><i class="icon-line-arrow-right"></i>Migration from legacy source code systems to Git</li>
                    <li><i class="icon-line-arrow-right"></i>Code reviews</li>
                </ul>
            </div>
        </div>
        <div class="col_one_third nobottommargin">
            <div class="feature-box fbox-plain">
                <ul class="iconlist">
                    <li><i class="icon-line-arrow-right"></i>Pair programming</li>
                    <li><i class="icon-line-arrow-right"></i>Consistent development environments using Virtualbox and Docker</li>
                    <li><i class="icon-line-arrow-right"></i>Pair programming</li>
                </ul>
            </div>
        </div>
        <div class="col_one_third nobottommargin col_last">
            <div class="feature-box fbox-plain">
                <ul class="iconlist">
                    <li><i class="icon-line-arrow-right"></i>Deployment pipelines</li>
                    <li><i class="icon-line-arrow-right"></i>Modernisation of legacy code</li>
                    <li><i class="icon-line-arrow-right"></i>And more</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<a class="button button-full center tright topmargin footer-stick">
    <div class="container clearfix">
        If your team needs help improving their processes <strong>get in touch</strong> <i class="icon-caret-right" style="top:4px;"></i>
    </div>
</a>
