---
layout: default
draft: false
title: For businesses
nav_name: for-businesses
---

<div class="container clearfix">
    <div class="fancy-title title-double-border">
        <h2>How I can help your business</h2>
    </div>
    <div class="col_one_third nobottommargin">
        <div class="feature-box media-box">
            <div class="fbox-media">
                {#<img src="https://placehold.it/400x250" alt="Why choose Us?">#}
            </div>
            <div class="fbox-desc">
                <h3>Replace fragile spreadsheets<span class="subtitle">Ensure your data is consistent</span>
                </h3>
                <p>Spreadsheets are a great way to start sharing data and make an offline process more streamlined but
                    it's easy for copies to be made and inconsistencies to creep in.</p>
                <p>Custom systems ensure there is one source of truth and that the business rules are always
                    enforced.</p>
            </div>
        </div>
    </div>
    <div class="col_one_third nobottommargin">
        <div class="feature-box media-box">
            <div class="fbox-media">
                {#<img src="https://placehold.it/400x250" alt="Why choose Us?">#}
            </div>
            <div class="fbox-desc">
                <h3>Make better business decisions<span class="subtitle">Use your data to drive your business</span>
                </h3>
                <p>Once in a structured format, reports allow staff to use the consistent and up-to-date information in
                    systems to make business decisions with the confidence that they are seeing the complete and
                    accurate picture.</p>
            </div>
        </div>
    </div>
    <div class="col_one_third nobottommargin col_last">
        <div class="feature-box media-box">
            <div class="fbox-media">
                {#<img src="https://placehold.it/400x250" alt="Why choose Us?">#}
            </div>
            <div class="fbox-desc">
                <h3>Keep in touch, wherever your staff are<span class="subtitle">Available wherever you have a web browser and an Internet connection</span>
                </h3>
                <p>Web-based business systems allow your staff to access them wherever they may be &mdash; just load
                    your web browser and it's like being in the office.</p>
            </div>
        </div>
    </div>
</div>

<div class="container clearfix">
    <div class="promo promo-border allmargin">
        <h3>Are all those spreadsheets holding back your business?</h3>
        <a href="/blog/categories/spreadsheets/" class="button button-xlarge button-rounded">Find out more</a>
    </div>
</div>

<div class="section">
    <div class="container clearfix">
        <div class="heading-block center">
            <h2>How I can help you</h2>
            <span>I have commercial experience developing features to help staff become more productive</span>
        </div>
        <div class="col_half nobottommargin">
            <div class="feature-box fbox-plain">
                <ul class="iconlist">
                    <li><i class="icon-line-arrow-right"></i>Reduce reliance on fragile spreadsheets</li>
                    <li><i class="icon-line-arrow-right"></i>Reports to allow staff to quickly gain insights into the
                        business processes
                    </li>
                    <li><i class="icon-line-arrow-right"></i>Share business data with other system to reduce duplication
                        of effort
                    </li>
                </ul>
            </div>
        </div>
        <div class="col_half col_last nobottommargin">
            <div class="feature-box fbox-plain">
                <ul class="iconlist">
                    <li><i class="icon-line-arrow-right"></i>Generate PDF documents</li>
                    <li><i class="icon-line-arrow-right"></i>Automatically email staff when a certain stage has been
                        reached in a process
                    </li>
                    <li><i class="icon-line-arrow-right"></i>And more</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<a class="button button-full center tright topmargin footer-stick" href="mailto:hello@littlerobot.io">
    <div class="container clearfix">
        If you are interested in making your staff more productive <strong>get in touch</strong>
        <i class="icon-caret-right" style="top:4px;"></i>
    </div>
</a>
