---
layout: default
draft: false
nav_name: home
---

<div class="container clearfix">
    <div class="row clearfix">
        <div class="hero-headline bottommargin col-md-10 col-md-offset-2">
            <h1><span>little robot</span> is a software consultancy based in Cambridgeshire.
            </h1>
            <span>It is owned and staffed by <a href="/stuart/" title="Who is Stuart?">Stuart</a>, a software developer with years of experience in the education and private sectors.</span>
        </div>
    </div>
    <div class="row clearfix">
        <div class="center bottommargin">
            <h2>I work with&hellip;</h2>
        </div>
        <div class="col-md-4 col-md-offset-2 center bottommargin">
            <div class="feature-box fbox-center fbox-outline fbox-effect">
                <div class="fbox-icon">
                    <a href="/for-businesses/"><i class="icon-line-briefcase i-alt"></i></a>
                </div>
                <h3>Businesses</h3>
                <p>To develop custom systems and integrations between your existing software, making your staff more
                    productive.<br><br></p>
                <a href="/for-businesses/" class="button button-border topmargin-sm">That's us. Tell me more!</a>
            </div>
        </div>

        <div class="col-md-4 center bottommargin">
            <div class="feature-box fbox-center fbox-outline fbox-effect">
                <div class="fbox-icon">
                    <a href="/for-businesses/"><i class="icon-line-cog i-alt"></i></a>
                </div>
                <h3>Software teams</h3>
                <p>To help introduce best practices so that the quality of your software increases, making your
                    customers (and developers) happy.</p>
                <a href="/for-teams/" class="button button-border topmargin-sm">That's us. Tell me more!</a>
            </div>
        </div>
    </div>

    <div class="line notopmargin"></div>

    <h3 class="center">Recent Clients</h3>

    <div id="oc-clients" class="owl-carousel image-carousel carousel-widget" data-margin="100" data-loop="true"
         data-nav="false" data-autoplay="5000" data-pagi="false" data-items-xxs="2" data-items-xs="3" data-items-sm="4"
         data-items-md="5" data-items-lg="6">
        <div class="oc-item"><a href="http://www.qton.com/" title="Qton Solutions"><img src="/images/clients/qton.png"
                                                                                        alt="Qton Solutions"></a></div>
        <div class="oc-item"><a href="http://www.rubbercheese.com/" title="RubberCheese"><img
                        src="/images/clients/rubbercheese.png" alt="RubberCheese"></a></div>
        <div class="oc-item"><a href="http://3ev.com/" title="3ev"><img src="/images/clients/3ev.png" alt="3ev"></a>
        </div>
        <div class="oc-item"><a href="http://www.stemcells.cam.ac.uk/about-us/facilities/tissue-culture-facility/"
                                title="Tissue Culture Facility at the Stem Cell Institute"><img
                        src="/images/clients/cscr.png" alt="Tissue Culture Facility at the Stem Cell Institute"></a>
        </div>
        <div class="oc-item"><a href="http://www.greatarmarketing.com/" title="GreatAR Marketing"><img
                        src="/images/clients/greatar.png" alt="GreatAR Marketing"></a></div>
    </div>
</div>
