---
layout: projects
draft: false
title: Projects
nav_name: projects
---

<div class="container clearfix">
    <h1>Projects</h1>

    <!-- Portfolio Filter
    ============================================= -->
    <ul id="portfolio-filter" class="portfolio-filter clearfix" data-container="#portfolio">

        <li class="activeFilter"><a href="#" data-filter="*">Show All</a></li>
        <li><a href="#" data-filter=".pf-businesses">For businesses</a></li>
        <li><a href="#" data-filter=".pf-teams">For software teams</a></li>

    </ul><!-- #portfolio-filter end -->

    <div class="clear"></div>

    <!-- Portfolio Items
    ============================================= -->
    <div id="portfolio" class="portfolio grid-container portfolio-1 clearfix">
        <article class="portfolio-item pf-businesses clearfix">
            <div class="portfolio-image">
                <a href="#">
                    <img src="/images/portfolio/ticket-booking/1-sm.png" alt="Sales report">
                </a>
                <div class="portfolio-overlay" data-lightbox="gallery">
                    <a href="/images/portfolio/ticket-booking/1-lg.png" class="left-icon" data-lightbox="gallery-item"
                       title="Sales report">
                        <i class="icon-line-stack-2"></i>
                    </a>
                    <a href="/images/portfolio/ticket-booking/2-lg.png" class="hidden" data-lightbox="gallery-item"
                       title="Tour summary list for day"></a>
                </div>
            </div>
            <div class="portfolio-desc">
                <h3>Online ticket booking</h3>
                <span>Custom development</span>
                <p>Backend administrative functionality for staff to manage availability for tours.</p>
                <h4 class="nobottommargin">Highlights</h4>
                <ul class="iconlist">
                    <li><i class="icon-line-arrow-right"></i><b>Extensive management of tour availability</b><br>
                        Closures, custom capacities, one-off tours.
                    </li>
                    <li><i class="icon-line-arrow-right"></i><b>Sales reports</b><br> High-level metrics on the
                        dashboard, and detailed sales charts with filtering.
                    </li>
                    <li><i class="icon-line-arrow-right"></i><b>PDF ticket and gift certificate generation</b><br>
                        Customisable e-tickets and e-gift certificates.
                    </li>
                    <li><i class="icon-line-arrow-right"></i><b>SMS reminders</b><br> Automated SMS reminders to help
                        increase visitor attendance.
                    </li>
                </ul>
            </div>
        </article>

        <article class="portfolio-item pf-businesses clearfix">
            <div class="portfolio-image">
                <img src="https://placehold.it/720x400?text=Coming Soon" alt="Coming Soon">
                <div class="portfolio-overlay">
                    <a href="https://placehold.it/1200x800?text=Coming Soon" class="left-icon" data-lightbox="image"><i
                                class="icon-line-plus"></i></a>
                </div>
            </div>
            <div class="portfolio-desc">
                <h3>Rental property interface (API)</h3>
                <span>Custom development</span>
                <p>A software-readable interface that provided details of holiday lets and their availability so that it
                    could be made available on partner websites.</p>
                <h4 class="nobottommargin">Highlights</h4>
                <ul class="iconlist">
                    <li><i class="icon-line-arrow-right"></i><b>Used existing business information</b><br>
                        All the information used for the interface was already used for the day-to-day running of the
                        business. This project allowed more business value to be gained from it.
                    </li>
                    <li><i class="icon-line-arrow-right"></i><b>Easy for other systems to use</b><br>
                        Making the data available in a software-readable form makes it easy for other systems to
                        integrate, increasing business opportunities.
                    </li>
                </ul>
            </div>
        </article>

        <article class="portfolio-item pf-teams clearfix">
            <div class="portfolio-image">
                <a href="#">
                    <img src="https://placehold.it/720x400?text=Coming Soon" alt="Coming Soon">
                </a>
                <div class="portfolio-overlay" data-lightbox="gallery">
                    <a href="https://placehold.it/1200x800?text=Coming Soon" class="left-icon"
                       data-lightbox="gallery-item"><i
                                class="icon-line-stack-2"></i></a>
                    <a href="https://placehold.it/1200x800?text=Coming Soon" class="hidden"
                       data-lightbox="gallery-item"></a>
                </div>
            </div>
            <div class="portfolio-desc">
                <h3>Team improvement</h3>
                <p>Helped a rapidly growing software development team introduce processes to improve quality and
                    employee onboarding.</p>
                <h4 class="nobottommargin">Highlights</h4>
                <ul class="iconlist">
                    <li><i class="icon-line-arrow-right"></i><b>Code reviews</b><br>
                        Introduced code reviews before code was merged into main branch to help early identification of
                        issues, and to increase system knowledge between developers.
                    </li>
                    <li><i class="icon-line-arrow-right"></i><b>Development virtual machines</b><br>
                        Created a development virtual machine set up to increase onboarding speed for new employees. It
                        also made the development environments consistent for all developers, reducing issues caused by
                        differences between production and development environments.
                    </li>
                    <li><i class="icon-line-arrow-right"></i><b>Deployment process</b><br>
                        Moved from a completely manual process of updating source code on the production servers for
                        each customer to a single codebase and scripted deployment. Later extended to a deployment
                        pipeline using Jenkins which allowed non-developers to make deployments and offered visibility
                        for automated test results.
                    </li>
                    <li><i class="icon-line-arrow-right"></i><b>Subversion to Git migration</b><br>
                        Migrated all company projects from an internally managed Subversion server to GitHub. Moving to
                        Git made merging branches for larger numbers of developers easier.
                    </li>

                </ul>
            </div>
        </article>

        <article class="portfolio-item pf-businesses pf-teams clearfix">
            <div class="portfolio-image">
                <a href="#">
                    <img src="https://placehold.it/720x400?text=Coming Soon" alt="Coming Soon">
                </a>
                <div class="portfolio-overlay" data-lightbox="gallery">
                    <a href="https://placehold.it/1200x800?text=Coming Soon" class="left-icon"
                       data-lightbox="gallery-item"><i
                                class="icon-line-stack-2"></i></a>
                    <a href="https://placehold.it/1200x800?text=Coming Soon" class="hidden"
                       data-lightbox="gallery-item"></a>
                </div>
            </div>
            <div class="portfolio-desc">
                <h3>Field service management system for the smart meter industry</h3>
                <span>Custom development as part of an existing software development team</span>
                <p>Worked on site to help an in-house software development team improve an existing software
                    product.</p>
                <h4 class="nobottommargin">Highlights</h4>
                <ul class="iconlist">
                    <li><i class="icon-line-arrow-right"></i><b>Expert development</b><br>
                        Integrated myself into the team and began developing new functionality on the first day.
                    </li>
                    <li><i class="icon-line-arrow-right"></i><b>Experience</b><br>
                        Brought experience from previous projects, allowing me to propose improvements to help the team
                        become more productive.
                    </li>
                </ul>
            </div>
        </article>

        <article class="portfolio-item pf-businesses pf-teams clearfix">
            <div class="portfolio-image">
                <a href="#">
                    <img src="https://placehold.it/720x400?text=Coming Soon" alt="Coming Soon">
                </a>
                <div class="portfolio-overlay" data-lightbox="gallery">
                    <a href="https://placehold.it/1200x800?text=Coming Soon" class="left-icon"
                       data-lightbox="gallery-item"><i
                                class="icon-line-stack-2"></i></a>
                    <a href="https://placehold.it/1200x800?text=Coming Soon" class="hidden"
                       data-lightbox="gallery-item"></a>
                </div>
            </div>
            <div class="portfolio-desc">
                <h3>Appointment booking system</h3>
                <span>Software development and mentoring</span>
                <p>Lead developer for an MVP of an appointment booking system to open new business opportunities for the
                    client.</p>
                <h4 class="nobottommargin">Highlights</h4>
                <ul class="iconlist">
                    <li><i class="icon-line-arrow-right"></i><b>Planning and development</b><br>
                        Worked with lead architect to rapidly develop a system that would prove whether there was a
                        business case for the product but with long-term maintainability as a focus.
                    </li>
                    <li><i class="icon-line-arrow-right"></i><b>Mentoring</b><br>
                        Paired with another developer to bring them up to speed with the Symfony software development
                        framework. The client had chosen the framework for all new developments and I was able to use my
                        expertise in this area to facilitate a rapid knowledge transfer for existing staff.
                    </li>
                </ul>
            </div>
        </article>

        <article class="portfolio-item pf-businesses clearfix">
            <div class="portfolio-image">
                <a href="#">
                    <img src="/images/portfolio/slims/1-sm.png" alt="Search interface">
                </a>
                <div class="portfolio-overlay" data-lightbox="gallery">
                    <a href="/images/portfolio/slims/1-lg.png" class="left-icon" data-lightbox="gallery-item"
                       title="Search interface">
                        <i class="icon-line-stack-2"></i>
                    </a>
                    <a href="/images/portfolio/slims/2-lg.png" class="hidden" data-lightbox="gallery-item"
                       title="Sample container list and summary"></a>
                </div>
            </div>
            <div class="portfolio-desc">
                <h3>Sample tracking database</h3>
                <span>Software development</span>
                <p>A system to manage stem cell samples for a department at the University of Cambridge. The system
                    replaces dozens of similar, but slightly different, spreadsheets that are managed individually to
                    ensure data is completely accurate and to enforce business rules.</p>
                <h4 class="nobottommargin">Highlights</h4>
                <ul class="iconlist">
                    <li><i class="icon-line-arrow-right"></i><b>Requirements gathering</b><br>
                        Worked with end-users during the project to discover their requirements and ensure the system
                        was flexible enough to meet the existing and potential use cases.
                    </li>
                    <li><i class="icon-line-arrow-right"></i><b>Rich user interface</b><br>
                        The entire user interface is a single page with multiple tabs and windows, much like a standard
                        computer application. This makes using the system very quick because there are no pages to
                        navigate between and users are already familiar with the concepts.
                    </li>
                </ul>
            </div>
        </article>
    </div><!-- #portfolio end -->

</div>
